<!DOCTYPE html> 
<html> 
  <head>
   	<meta charset="utf-8"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="css/foundation.css" />
    <script src="js/vendor/modernizr.js"></script>
  	<title>Dashboaaaaaaad  4 train yo</title>
	<link rel="stylesheet" href="/css/index.css" />
    <script src="js/vendor/modernizr.js"></script>

  	<title>HackNTrain</title>
  </head>

  <body>

  	<!--TITLE-->
  	<div id="title" class="row">
	  	<div class="small-12 columns">
	  		<h1> FUCKIN' TRAINS, MAN</h1>
	  	</div>

  	</div>

	<!--NAV-->
  	<div id="nav" class="row">
  		<div class="small-4 small-centered columns">

			<dl id="tabs" class="tabs" data-tab>
	        <% for(var i=1; i<=noOfTabs; i++) {%> 
				    <dd><a href="#panel<%= i %>">Room <%=i%></a></dd>
	        <% } %>
			</dl>
			<div class="tabs-content">
	         <% for(var i=1; i<=noOfTabs; i++) {%> 
		         <% if (i == 1) { %>
					<div class="content active" id="panel<%= i %>">
					  <p>This is tab <%=i%>. This is where information for room <%=i%> will go.</p>
					</div>
				  <% } else {%>
				  	<div class="content" id="panel<%= i %>">
					  <p>This is tab <%=i%>. This is where information for room <%i%> will go.</p>
					</div>
				  <% } %>
        	  <% } %>
			</div>

		</div>
  	</div>

	<!--DATA-->
  	<div id="data" class="row">

  		<div id="currentData" class="small-12 medium-5 columns">
  		  <h2>Current:</h2>

			<table id="dataTable">
			  <thead>
			    <tr>
			      <th width="225">Data type </th>
			      <th width="175">Value</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr>
			      <td>Temperature:</td>
			      <td>tempVal</td>
			    </tr>
			    <tr>
			      <td>Air Pressure:</td>
			      <td>airVal</td>
			    </tr>			    
			    <tr>
			      <td>Train Speed:</td>
			      <td>speedVal</td>
			    </tr>			    
			    <tr>
			      <td>General Position:</td>
			      <td>posVal</td>
			    </tr>			    
			    <tr>
			      <td>Methane Density:</td>
			      <td>methVal</td>
			    </tr>			    
			    <tr>
			      <td>Light Level:</td>
			      <td>lightVal</td>
			    </tr>
			  </tbody>
			</table>
  		</div>

  		<div id="timeSeries" class="small-12 medium-8 columns">
  			<h1>Time Series Data:</h1>
			<ul class="small-block-grid-1 medium-block-grid-2">
			  <li><p>Temperature</p>
          <div class="container" style="min-width: 300px; height: 200px; margin: 0 auto"></div>
        </li>
			  <li><p>Air Pressure</p>
          <div class="container" style="min-width: 300px; height: 200px; margin: 0 auto"></div>
        </li>
			  <li><p>Train Speed</p>
          <div class="container" style="min-width: 300px; height: 200px; margin: 0 auto"></div>
        </li>
			  <li><p>General Position</p>
      
          <div class="container" style="min-width: 300px; height: 200px; margin: 0 auto"></div>

        </li>
			  <li><p>Methane Density</p>

          <div class="container" style="min-width: 300px; height: 200px; margin: 0 auto"></div>
        </li>
			  <li><p>Light Level</p>

          <div class="container" style="min-width: 300px; height: 200px; margin: 0 auto"></div>
        </li>
			</ul>
  		</div>
  	</div>


	<!--Footer-->
	<div id="footer">
		<div class="row">
			<p><small>Made at hackNY Fall 2014 by @Shrugs @faiqus @michipster @sarinaorr</small></p>
		</div>
	</div>

  	<!--scripts-->
	  <script src="/js/vendor/jquery.js"></script>
	  <script src="/js/vendor/fastclick.js"></script>
	  <script src="js/foundation.min.js"></script>
	  <script src="js/foundation/foundation.tab.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/data.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script> 
    <script src="/js/chart.js"></script>
	  <script>
	  $(document).foundation();
	  </script>
  </body> 
</html> 
